
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 95px;
  width: 1196px;
  margin: 20px auto 100px auto;
}

.bar:nth-child(2) {
  margin-left: 10px;
}
.bar__column {
  display: flex;
  align-items: center;
  position: relative;
  height: 47px;
}
.bar__column span,
.bar__column i:not(.fa-chevron-down) {
  margin-left: 17px;
  cursor: pointer;
}
.bar__column span {
  font-size: var(--font-size);
}
.input {
  margin-left: 30px;
  height: 47px;
  width: 430px;
  background: var(--gray-bg);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  margin-right: 10px;
}
input::placeholder {
  font-size: 14px;
}
.fa-search {
  color: black;
}
.fa-user-circle {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.2);
}
.fa-chevron-down {
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
}
