<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.InquiryMapper">
    <select id="readInquiryDataList" resultType="InquiryDto">
        select * from inquiry
    </select>
    <insert id="insertInquiry">
        insert into inquiry(inqTitle, inqUserName, inqEmail, inqQuestion, inqRegDate)
        VALUES(#{inquiryDto.inqTitle}, #{inquiryDto.inqUserName}, #{inquiryDto.inqEmail}, #{inquiryDto.inqQuestion}, #{inquiryDto.inqRegDate})
    </insert>
    <delete id="deleteInquiry">
        delete from inquiry where inqNo = #{inqNo}
    </delete>
    <select id="readInquiryDataByInqNo" resultType="InquiryDto">
        select * from inquiry where inqNo = #{inqNo}
    </select>
    <update id="updateInquiry">
        update inquiry
        set inqNo=#{updateInqDto.inqNo}, userNo=#{updateInqDto.userNo}, inqQuestion=#{updateInqDto.inqQuesion}, inqAnswer=#{updateInqDto.inqAnswer}
        where inqNo = #{inqNo}
    </update>

</mapper>