<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.lectureMapper">
    <select id="readBasicData" resultType="LectureDto">
        select * from lecture
    </select>
    <insert id="insertLecture">
        insert into lecture(lecCategory, lecName, lecPrice, lecRegDate, lecImg)
        VALUES(#{category}, #{name}, #{price}, #{regDate}, #{lecImg})
    </insert>
    <delete id="deleteLecture">
        delete from lecture where lecNo = #{lecNo}
    </delete>
    <update id="updateLecture">
        update lecture
        set (lecName, lecCategory, lecImg, lecPrice) = (#{lecName}, #{lecCategory}, #{lecImg}, #{lecPrice})
        where lecNo = #{lecNo}
    </update>
</mapper>
