<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.PopupMapper">
    <select id="getPopupList" resultType="PopupDto">
        select * from popup
    </select>
    <delete id="deletePopup">
        delete from popup where number=#{data}
    </delete>
    <insert id="addItem">
        insert into popup(popType, popImg, popRegDate)
        VALUES(#{popType}, #{popImg}, #{popRegDate})
    </insert>
</mapper>
