<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.PopupMapper">
    <select id="getPopupList" resultType="PopupDto">
        select * from popup
    </select>
    <delete id="deleteItem">
        delete from popup where popNo=#{popNo}
    </delete>
    <insert id="addItem">
        insert into popup(popType, popImg, popRegDate)
        VALUES(#{popupDto.popType}, #{popupDto.popImg}, #{popupDto.popRegDate})
    </insert>
    <select id="selectItem" resultType="PopupDto">
        select * from popup where popNo=${popNo}
    </select>
    <update id="editItem">
        update popup set popType=#{popupDto.popType}, popImg=#{popupDto.popImg} where popNo=#{popupDto.popNo}
    </update>
</mapper>
