<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.UserMapper">


    <delete id="deleteUser">
        delete from user where userNo = #{userNo}
    </delete>

    <select id="readUserInfoList" resultType="UserDto">
        select * from user
    </select>

    <select id="readUserInfoListByUserNo" resultType="UserDto">
        select * from user where userNo = #{userNo}
    </select>

</mapper>
