<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias alias="TestDto" type="com.test.dto.TestDto"/>
        <typeAlias alias="AdminLoginDto" type="com.test.dto.AdminLoginDto"/>
        <typeAlias alias="LectureDto" type="com.test.dto.LectureDto"/>
        <typeAlias alias="BannerDto" type="com.test.dto.BannerDto"/>
        <typeAlias alias="UserDto" type="com.test.dto.UserDto"/>
        <typeAlias alias="PopupDto" type="com.test.dto.PopupDto"/>
        <typeAlias alias="LikesDto" type="com.test.dto.LikesDto"/>
        <typeAlias alias="InquiryDto" type="com.test.dto.InquiryDto"/>

    </typeAliases>
</configuration>
