footer {
  margin: 18px 362px 50px 362px;
  padding-top: 40px;
  padding-bottom: 64px;
}
.rows {
  display: flex;
}

.row__first > * {
  margin-bottom: 25px;
}
.row__first {
  width: 29%;
  margin-right: 120px;
}
.logo > * {
  width: 110px;
  height: 23px;
}
.row__first__span span,
.row__first__k span {
  font-size: 15px;
  color: var(--gray2);
}
.row {
  width: 24%;
}
.row :nth-child(2) {
  margin-top: 10px;
}
.row div {
  height: 25%;
  display: flex;
  align-items: center;
}
.row div:not(.btn) {
  margin-right: 40px;
  margin-left: -10px;
}
.row div:not(.btn):hover {
  background-color: var(--gray-bg);
  cursor: pointer;
}

.row > h1 {
  font-weight: 700;
  font-size: 18px;
}
.row span:not(.btn-w) {
  font-size: var(--font-size);
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
}
.btn-w {
  font-weight: 600;
}
.btn {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 6px 0;
  background-color: var(--gray-background);
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-c {
  color: var(--gray);
  font-size: 13.7px;
}
.rows2 {
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.rows2 span {
  font-size: 12px;
  color: var(--gray2);
  margin-left: 5px;
}
.rows2 span:hover {
  cursor: pointer;
  color: black;
}

.rows2 p {
  font-size: 11px;
  color: var(--gray);
  margin-left: 5px;
}
.rows2 > div {
  text-align: left;
}
.rows2__column1 {
  width: 95%;
}
.rows2__column1 div,
.rows2__column2 div {
  margin-bottom: 10px;
}
