.stop-scrolling {
  height: 100%;
  overflow: hidden;
  text-align: left;
}
.pencil {
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: 47% 53%;
}
.grid-1 {
  padding: 15px 255px 0 255px;
}
.grid-1__login {
  margin-top: 70px;
}
.grid-1__login__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
}
.grid-1__login__bar-logo {
  text-decoration: none;
  color: inherit;
}
.grid-1__login__bar-logo svg {
  height: 18px;
  width: auto;
}
.grid-1__login__bar-language {
  font-size: 15px;
}
.grid img {
  width: 100%;
  height: 100%;
}
.stop-scrolling h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: rgb(58, 58, 58);
}
.grid-1__login button{
  width: 100%;
  height: 50px;
  border-radius: 3px;
  color: rgb(58, 58, 58);
  transition: filter 0.1s ease 0s;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-1__login button span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.2px;
}
.kakao {
  margin-top: 55px;
  margin-bottom: 8px;
  background-color: rgb(255, 232, 18) !important;
}
.kakao img {
  width: 20px;
  height: 20px;
}
.local {
  background-color: rgb(248, 248, 248);
}
.kakao:hover {
  background-color: rgb(223, 202, 14) !important;
}
.local:hover {
  background-color: rgb(202, 201, 201);
}

@media screen and (max-width: 1025px) {
  .pencil {
    display: none;
  }
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
